body{
    	font-family: Quicksand;
}



/******************************/
/*Navbar script               */
/******************************/

.container-fluid.main{
  position: relative; /* To make the navbar positions relative to this container */
  padding: 0;
}

.navbar-default{
  background-image: none;
  background-color: transparent; 
  border-radius: 0;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: auto;
  box-shadow:none;
  z-index: 10; 
  -webkit-transition:all .5s ease;
  transition:all .5s ease;
  }

.skrol .navbar-default{
	-webkit-transition:all .5s ease;
    transition:all .5s ease;
	background-color: rgba(255, 255, 255, 0.9);
	padding-bottom: 15px;
	box-shadow: 0 2px 1px -1px #999;
	
}

.navbar-default .navbar-right li a.active{
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	border: 1px solid red;
	border-radius: 6px;
	font-size: 15px;
    padding: auto;
}


.navbar-default .navbar-right li a.active:hover{
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	background-color: red;
	color: white;
	border:none;
}

.navbar-default .navbar-brand .logo1 {
  -webkit-transition:all .5s ease;
  transition:all .5s ease;
  width: 400px;
}

.skrol .navbar-default .navbar-brand .logo1 {
  -webkit-transition:all .5s ease;
  transition:all .5s ease;
  width: 350px;
}



.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}


.navbar-default .navbar-nav > li > a {
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
  text-align: center;  
  color: black;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 400;
  
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: red;
	color: white;
	border: red;
	border-radius: 6px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* Animasi X*/

.navbar-toggle .icon-bar {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

/*Akhir animasi X*/



/*********************************************/
/* Carousel script                           */
/*********************************************//

.carousel .background {
     background-size: cover; /* To make the background image looks good */
     }
	
.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

.carousel .background.a {
  background-image: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("w1.jpg");
}

.carousel .background.b {
  background-image: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("w1.jpg");
}

.carousel .background.c {
  background-image: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("w1.jpg");
}


.carousel-caption{
	              
				  text-align: left;
				  top: 0;
				  color: black;
}



.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s; /* duras 0 to 1 */
}

.carousel-inner{
	max-height: 450px;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* CSS Hack to trigger GPU for smooth transition */

.covertext {
  position: absolute; 
  top: 200px; 
  left: 0px; 
  right: 0px; 
}

.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
  text-align: left;
  text-shadow: 1px 1px #000;
  text-transform: uppercase;
}

.subtitle {
  font-family: Verdana;
  font-size: 18px;
  color: #000;
  text-align: left;
  font-weight: 500;
  }

.explore {
  text-align: left;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: #4d4e93;
  border-color: #4d4e93;
  color: #ffffff;
}

.btn,
.btn:hover {
  border-radius: 0px;
  background-image: none;
  background-color: #4d4e93;
  border-color: #FF4000;
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}


/******************************/
/* Navbar-2 script            */
/******************************/

.navbar2 {
	background-color:white;
	padding:8px;
	box-shadow: black;
	margin-top: 40px
}

.navbar2 .navbar3{
    text-align: center;
}

.navbar2 .navbar3 li{
	list-style: none;
	display: inline-block;
}

.navbar2 .navbar3 li a {
	-webkit-transition:all .3s ease;
	transition:all .3s ease;
	color: #999999;
    text-decoration: none;
	margin-right: 30px;
	font-size: 16px;
	font-weight: 300;

	}
	
.navbar2 .navbar3 li a:hover,
.navbar2 .navbar3 li a:focus {
	-webkit-transition:all .3s ease;
	transition:all .3s ease;
	color: #4d4e93;
    font-weight: 520;
	}

.navbar2 .navbar3 li .active{
	color: #4d4e93;
    font-weight: 520;
}
	
	
/******************************/
/* Content script             */
/******************************/
  
  .sec1{
	  margin-top: 40px;
  }
  
  .r1{
	  padding-bottom: 10px;
  }
  
  .r1 p, .r2 p{
		   text-align: justify;
		   font-size: 15px;
  }
  
  .r1 ul li{
	  font-size: 15px;
  }
  
  .sec1 h1{
		   text-align: justify;
		   font-size: 20px;
		   background-color: #84a0c0;
		   padding: 12px;
		   color: white;
		   border-radius: 6px;
  }
  
  .sec1 .about-img{
	  padding-top: 100px;
  }

  .news-1{
	  height: 150px;
  }
  
  .news h1{
	  font-size: 24px;
  }
  
  
  .news-img{
	  margin-right: 20px;

  }
  
.r1 .partner-img{
	display: inline-block;
	margin-right: 15px;
}  
 
/*Tampilan mobile*/
 
@media(max-width:768px){
	.navbar2 .navbar3{
		margin-top:10px;
		text-align: left;
	}
	.navbar-default{
		background-color: white;
	    box-shadow:3px;
	}
	
	.skrol .navbar-default{
	background-color: white;
	padding-bottom: 1px;
	
    }
	
    .navbar2 .navbar3 li a{
		font-size: 14px; 
	}
	
	.r1 p{
		   padding: 3px 15px;
		   text-align: justify;
    }
	
	.sec1 h1{
	       	padding: 15px;
		    text-align: justify;
	
	}
	
	.r1 ul li{
		      padding: 15px;
	}
	
	.navbar-default .navbar-nav li a{
		text-align: left;
	}
	
	.navbar-default .navbar-right li a.active{
		border: none;
	}
	
	.carousel .background {
     background-size: cover; /* To make the background image looks good */
     }
	 
	 .news .news-1 img{
		 height: 130px;
	 }
	 
	 .news .news-1 p{
		 font-size:12px;
	 }
	 
	 .news .news-1 h4{
		 font-size:15px;
	 }
	 
	 .title {
		 font-size: 36px;
	 }
	 
	.sec1 .about-img{
	  padding-top: 1px;
	  padding-bottom: 40px;
    }
}


#footer{
	margin-top: 40px;
	background: #cccccc;
}

#footer2{
	background: #777;
	color: #fefefe
	padding: 10px;
}